@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body,html{
  color: white;
  font-family: Poppins,Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;

}
.bgi{
  background: url('background/bg4.jpg') ;
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  
 
}
.logo{
  height:20vh;
  width:30%;
  display:block;
  margin: 0 auto;
  padding: 5px;
}

.form-container{
  border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
padding: 30px 40px;
  margin-top: 10vh;

  -webkit-box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
  -moz-box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
  box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
}
a{
  color: azure;
  text-decoration: none;
  opacity: 0.7;

}
a:hover{
  color: limegreen;
  text-decoration: none;
}










/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
  .bgi{
    background: url('background/bg5.jpg')  no-repeat;
    width: 100%;
    height:100vh;
    background-size: cover;
  }
  .logo{
    height:20vh;
    width:30%;
    display:block;
    margin: 0 auto;
  }
  .form-container{
  
    padding: 10px 10px;
    margin-top: 2 vh;
  -webkit-box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
  -moz-box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
  box-shadow: 2px -3px 20px 8px rgba(255,255,255,0.37);
  }
  a{
    
    text-decoration: none;
    opacity: 0.7;
  
  }
  a:hover{
    color: limegreen;
    text-decoration: none;
  }
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/






